<div class='context_container github_downloads'>
	<span class="github_icon"></span>
	<span class="context_title">Download Android Code Library</span>
	<p class='view'>
		<a href='https://github.com/Tealium/collect-android'>
			<span>View the Project on GitHub</span>
			<small>Tealium/collect-android</small>
		</a>
	</p>

	<div class="download_links">
		<a class="btn btn-large" href='https://github.com/Tealium/collect-android/zipball/master'>Download <strong>ZIP File</strong></a>
		<a class="btn btn-large" href='https://github.com/Tealium/collect-android/tarball/master'>Download <strong>TAR Ball</strong></a>
	</div>
</div>