<div id="footer">
          <div id="footerContent">
            <div class="linkColumn">
              <div class="linkColumnHeader">Products</div>
              <ul>
                <li><a href="http://tealium.com/products/tealium-customer-data-platform/">Tealium Customer Data Platform</a></li>
                <li><a href="http://tealium.com/products/tealium-iq-tag-management-system/">Tealium iQ</a></li>
                <li><a href="http://tealium.com/products/audiencestream/">Tealium AudienceStream</a></li>
                <li><a href="http://tealium.com/products/tealium-dataaccess/">Tealium DataAccess</a></li>
                <li><a href="http://tealium.com/products/tealium-for-mobile/">Tealium For Mobile</a></li>
              </ul>
            </div>
            <div class="linkColumn">
              <div class="linkColumnHeader">Education</div>
              <ul>
                <li><a href="">Digital Velocity Conference</a></li>
                <li><a href="http://tealium.com/services/education/">Tealium University</a></li>
              </ul>
            </div>
            <div class="linkColumn">
              <div class="linkColumnHeader">Resources</div>
              <ul>
                <li><a href="http://tealium.com/resources/case-studies/">Case Studies</a></li>
                <li><a href="http://tealium.com/resources/product-datasheets/">Product Datasheets</a></li>
                <li><a href="http://tealium.com/resources/reports-and-whitepapers/">White Papers</a></li>
                <li><a href="http://tealium.com/resources/solution-briefs/">Solution Briefs</a></li>
                <li><a href="http://tealium.com/resources/webinars-and-videos/">Webinars &amp; Videos</a></li>
              </ul>
            </div>
            <div class="linkColumn">
              <div class="linkColumnHeader">Company</div>
              <ul>
                <li><a href="http://tealium.com/company/">About Us</a></li>
                <li><a href="http://tealium.com/blog/">Blog</a></li>
                <li><a href="https://careers-tealium.icims.com/">Careers</a></li>
                <li><a href="http://tealium.com/company/leadership/">Leadership Team</a></li>
                <li><a href="http://tealium.com/press-releases/">Press Releases</a></li>
                <li><a href="http://tealium.com/news/">News &amp; Recognition</a></li>
                <li><a href="http://tealium.com/events/">Events</a></li>
              </ul>
            </div>
            
            <div class="linkColumn">
              <div class="contactBlock">
                <div class="contactSectionTitle">Tealium US Headquarters</div>
                <div class="contactAddressBlock">
                  <div class="contactAddressLine1">11085 Torreyana Road</div>
                  <div class="contactAddressLine2">San Diego, CA 92121</div>
                </div>
                <div class="contactPhone"><span class="contactLabel">Sales:</span> (888) 622-2050</div>
                <div class="contactPhone"><span class="contactLabel">Tel:</span> +1 (858) 779-1344</div>
                <div class="contactPhone"><span class="contactLabel">Fax:</span> +1 (858) 345-3844</div>
              </div>
              <div class="copyrightBlock">
                &copy; 2015 Tealium Inc. All Rights Reserved.
              </div>
            </div>
          </div>
        </div>
